.container {
    background: white;
    height: 74vh;
    /* margin-top: 2rem; */
    border-radius: 10px;
    width: 60vw;
    overflow: scroll;
}

.content {
    padding: 2rem;
}

.header {
    color: whitesmoke;
    padding: 2rem 20rem;
}

h2 {
    font-size: 27px;
    font-weight: 600;
}


